.card:hover {
    box-shadow: 2px 4px 10px #666;
}

.btn-interest:hover {
    background-color: rgb(247, 246, 245) !important;
}

i {
    margin: 1%;
}

ul {
    list-style-type: circle;
}

@media screen and (max-width:600px) {
    .current__tech {
        display: block;
    }
    .mobile__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile__interest {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile__tech,
    .btn-interest {
        margin: 2%;
        width: 100%;
    }
}